{% extends 'base.html' %}
{% block title_page %}Administration{% endblock %}
{% block title_main %}Administration{% endblock %}
{% block content%}
    <article>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Rôle</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for admin in admins %}
                    <tr>
                        <td><a href="admins/{{admin[0]}}">{{admin[1]}}</a></td>
                        <td>{{admin[2]}}</td>
                        <td>{{admin[3]}}</td>
                        <td>{{admin[4]}}</td>
                        <td>{{admin[5]}}</td>
                        <td>{{admin[6]}}</td>
                        <td><a href="admins/update/{{admin[0]}}">Modifier</a></td>
                        <td><a href="admins/delete/{{admin[0]}}">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
        <h4>Ajouter un nouveau agent</h4>
        <form class="row g-3 needs-validation" action="/admins/add" method="post">
            <div class="col-md-4">
                <label class="form-label" for="admin_name">NOM</label>
                <input class="form-control" type="text" id="admin_name" name="admin_name"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label"  for="admin_lastName">Prénom</label>
                <input class="form-control"  type="text" id="admin_lastName" name="admin_lastName"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label"  for="admin_role">Grade</label>
                <input class="form-control"  type="text" id="admin_role" name="admin_role"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label"  for="admin_email">Email</label>
                <input class="form-control"  type="text" id="admin_email" name="admin_email"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="admin_address">Adresse</label>
                <input class="form-control"  type="text" id="admin_address" name="admin_address"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label"  for="admin_phone">Téléphone</label>
                <input class="form-control"  type="text" id="admin_phone" name="admin_phone"></br>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </div>
        </form>
{% endblock %}














<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
</head>
<body>
    <article>
            <h2>Agents vacataires</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Rôle</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for admin in admins %}
                    <tr>
                        <td><a href="admins/{{admin[0]}}">{{admin[1]}}</a></td>
                        <td>{{admin[2]}}</td>
                        <td>{{admin[3]}}</td>
                        <td>{{admin[4]}}</td>
                        <td>{{admin[5]}}</td>
                        <td>{{admin[6]}}</td>
                        <td><a href="admins/update/{{admin[0]}}">Modifier</a></td>
                        <td><a href="admins/delete/{{admin[0]}}">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
        <h4>Ajouter un nouveau agent</h4>
        <form action="/admins/add" method="post">
            <label for="admin_name">NOM</label>
            <input type="text" id="admin_name" name="admin_name"></br>
            <label for="admin_lastName">Prénom</label>
            <input type="text" id="admin_lastName" name="admin_lastName"></br>
            <label for="admin_role">Grade</label>
            <input type="text" id="admin_role" name="admin_role"></br>
            <label for="admin_email">Email</label>
            <input type="text" id="admin_email" name="admin_email"></br>
            <label for="admin_address">Adresse</label>
            <input type="text" id="admin_address" name="admin_address"></br>
            <label for="admin_phone">Téléphone</label>
            <input type="text" id="admin_phone" name="admin_phone"></br>
            <button type="submit">Ajouter</button>
        </form>
</body>
</html>