<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salle</title>
</head>
<body>
    <form action="/classrooms" method="post">
            <input type="hidden" id="classroom_id" name="classroom_id" value="{{ classroom[0] }}">
            <label for="classroom_name">Classe</label>
            <input type="text" id="classroom_name" name="classroom_name" value="{{ classroom[1] }}">
            <button type="submit">Modifier</button>
        </form>
        <form action="/classrooms/delete" method="post">
            <input type="hidden" id="classroom_id" name="classroom_id" value="{{ classroom[0] }}">
            <button type="submit">Supprimer</button>
        </form>
        <a href="/">Home</a>
</body>
</html>