<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier un étudiant</title>
</head>
<body>
    <form action="/students/update" method="post">
            <label for="student_name">NOM</label>
            <input type="text" id="student_name" name="student_name"></br>
            <label for="student_lastName">Prénom</label>
            <input type="text" id="student_lastName" name="student_lastName"></br>
            <label for="student_card">Numéro carte</label>
            <input type="text" id="student_card" name="student_card"></br>
            <label for="student_name">Classe</label>
            <select type="text" id="student_class" name="student_class">
                {% for class in classes %}
                <option value="{{class[0]}}">{{class[1]}}</option>
                {% endfor %}
            </select>
                </br>
            <label for="student_email">Email</label>
            <input type="text" id="student_email" name="student_email"></br>
            <label for="student_address">Adresse</label>
            <input type="text" id="student_address" name="student_address"></br>
            <label for="student_phone">Téléphone</label>
            <input type="text" id="student_phone" name="student_phone"></br>
            <button type="submit">Modifier</button>
        </form>
</body>
</html>