<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Étudiant</title>
</head>
<body>
    <article>
        <h2>Étudiant</h2>
        <div>
            <span class="detail_title">Nom :</span>
            <span class="detail_value">{{student[1]}}</span>
        </div>
        <div>
            <span class="detail_title">Prénom :</span>
            <span class="detail_value">{{student[2]}}</span>
        </div>
        <div>
            <span class="detail_title">Numéro carte :</span>
            <span class="detail_value">{{student[3]}}</span>
        </div>
        <div>
            <span class="detail_title">Classe :</span>
            <span class="detail_value">{{student[4]}}</span>
        </div>
        <div>
            <span class="detail_title">Email :</span>
            <span class="detail_value">{{student[5]}}</span>
        </div>
        <div>
            <span class="detail_title">Adresse :</span>
            <span class="detail_value">{{student[6]}}</span>
        </div>
        <div>
            <span class="detail_title">Téléphone :</span>
            <span class="detail_value">{{student[7]}}</span>
        </div>
        <div>
            <a href="update/{{student[0]}}">Modifier</a>
        </div>
        <a href="/">Home</a>
    </article>
</body>
</html>