{% extends 'base.html' %}
{% block title_page %}Étudiants{% endblock %}
{% block title_main %}Étudiants{% endblock %}
{% block content%}
    <article>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro Carte</th>
                    <th>Classe</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="students/{{student[0]}}">{{student[1]}}</a></td>
                    <td>{{student[2]}}</td>
                    <td>{{student[3]}}</td>
                    <td>{{student[4]}}</td>
                    <td>{{student[5]}}</td>
                    <td>{{student[6]}}</td>
                    <td>{{student[7]}}</td>
                    <td><a href="{{ url_for('get_student_to_update', student_id=student[0])}}">Modifier</a></td>
                    <td><a href="students/delete/{{student[0]}}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
    <article>
        <h4>Ajouter un nouveau étudiant</h4>
        <form class="row g-3 needs-validation" action="/students/add" method="post">
            <div class="col-md-4">
                <label class="form-label" for="student_name">NOM</label>
                <input class="form-control" type="text" id="student_name" name="student_name"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="student_lastName">Prénom</label>
                <input class="form-control" type="text" id="student_lastName" name="student_lastName"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="student_card">Numéro carte</label>
                <input class="form-control" type="text" id="student_card" name="student_card"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="student_email">Email</label>
                <input class="form-control" type="text" id="student_email" name="student_email"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="student_address">Adresse</label>
                <input class="form-control" type="text" id="student_address" name="student_address"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="student_phone">Téléphone</label>
                <input class="form-control" type="text" id="student_phone" name="student_phone"></br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="student_name">Classe</label>
                <select class="custom-select" type="text" id="student_class" name="student_class">
                    {% for class in classes %}
                    <option value="{{class[0]}}">{{class[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </div>
        </form>
    </article>
{% endblock %}