{% extends 'base.html' %}
{% block title_page %}Matières{% endblock %}
{% block title_main %}Matières{% endblock %}
{% block content%}
    <article>
            <div>
                {% for subject in subjects %}
                <div><a href="/subjects/{{ subject[0] }}">{{ subject[1] }}</a></div>
                {% endfor %}
            </div>
            <form action="/subjects/add" method="post">
                <label for="subject_name">Matière</label>
                <input type="text" id="subject_name" name="subject_name">
                <button type="submit">Ajouter</button>
            </form>
        </article>
{% endblock %}


