{% extends 'base.html' %}
{% block title_page %}Matières{% endblock %}
{% block title_main %}Matières{% endblock %}
{% block content%}
    <article>
        <div>
            {% for subject in subjects %}
            <div><a href="/subjects/{{ subject[0] }}">{{ subject[1] }}</a></div>
            {% endfor %}
        </div>
        <hr>
        <form class="row g-3 needs-validation" action="/subjects/add" method="post">
            <div class="col-md-4">
                <label class="form-label" for="subject_name">Ajouter une Matière</label>
                <input class="form-control" type="text" id="subject_name" name="subject_name">
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </div>
        </form>
    </article>
{% endblock %}


