{% extends 'base.html' %}
{% block title_page %}Enseignant{% endblock %}
{% block content%}
    <article>
        <h2>Supprimer Enseignant</h2>
        <div>
            <span class="detail_title">Nom :</span>
            <span class="detail_value">{{teacher[1]}}</span>
        </div>
        <div>
            <span class="detail_title">Prénom :</span>
            <span class="detail_value">{{teacher[2]}}</span>
        </div>
        <div>
            <span class="detail_title">Grade :</span>
            <span class="detail_value">{{teacher[3]}}</span>
        </div>
        <div>
            <span class="detail_title">Email :</span>
            <span class="detail_value">{{teacher[4]}}</span>
        </div>
        <div>
            <span class="detail_title">Adresse :</span>
            <span class="detail_value">{{teacher[5]}}</span>
        </div>
        <div>
            <span class="detail_title">Téléphone :</span>
            <span class="detail_value">{{teacher[6]}}</span>
        </div>
        <form action="/teachers/delete" method="post">
            <input type="hidden" id="teacher_id" name="teacher_id" value="{{ teacher[0] }}">
        <div class="col-12">
            <button class="btn btn-danger" type="submit">Supprimer</button>
        </div>
        </form>
    </article>
{% endblock %}