{% extends 'base.html' %}
{% block title_page %}Les salles{% endblock %}
{% block title_main %}Les salles{% endblock %}
{% block content%}
    <article>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numéro de salle</th>
                    <th>Emploi du temps</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for classroom in classrooms %}
                <tr>
                    <td><a href="/classrooms/{{ classroom[0] }}">{{ classroom[1] }}</a></td>
                    <td><a href="#"></a></td>
                    <td><a href="classrooms/update/{{classroom[0]}}">Modifier</a></td>
                    <td><a href="classrooms/delete/{{classroom[0]}}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
            <form class="row g-3 needs-validation" action="/classrooms/add" method="post">
                <div class="col-md-4">
                    <label class="form-label" for="classroom_name">Ajouter une Salle</label>
                    <input class="form-control" type="text" id="classroom_name" name="classroom_name">
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </div>
            </form>
        </article>
{% endblock %}


