{% extends 'base.html' %}
{% block title_page %}Étudiant{% endblock %}
{% block title_main %}Étudiant{% endblock %}
{% block content%}
    <article>
        <div>
            <span class="detail_title">Nom :</span>
            <span class="detail_value">{{student[1]}}</span>
        </div>
        <div>
            <span class="detail_title">Prénom :</span>
            <span class="detail_value">{{student[2]}}</span>
        </div>
        <div>
            <span class="detail_title">Numéro carte :</span>
            <span class="detail_value">{{student[3]}}</span>
        </div>
        <div>
            <span class="detail_title">Classe :</span>
            <span class="detail_value">{{student[4]}}</span>
        </div>
        <div>
            <span class="detail_title">Email :</span>
            <span class="detail_value">{{student[5]}}</span>
        </div>
        <div>
            <span class="detail_title">Adresse :</span>
            <span class="detail_value">{{student[6]}}</span>
        </div>
        <div>
            <span class="detail_title">Téléphone :</span>
            <span class="detail_value">{{student[7]}}</span>
        </div>
        <hr>
        {% block actions %}

        {% endblock %}
    </article>
{% endblock %}