{% extends 'base.html' %}
{% block title_page %}Notes{% endblock %}
{% block title_main %}Notes{% endblock %}
{% block content%}
    <article>
        <div>
            <b>Etudiant : </b>
            <span>{{student[1]}} {{student[2]}}</span>
        </div>
        <div>
            <b>Classe : </b>
            <span>{{student[4]}}</span>
        </div>
            <input id="student_id" name="student_id" value="{{student[0]}}" type="hidden">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Note</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student_detail in student_details %}
                        <tr>
                            <td>{{student_detail[9]}}</td>
                            <td>
                                {% if student_detail[11] is none %}
                                    --
                                {% else %}
                                    {{student_detail[11]}}
                                {% endif %}
                            </td>
                            <td><a href="/students/mark/{{student[0]}}/{{student_detail[8]}}">Modifier</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </article>
    <hr>
{% endblock %}