{% extends 'base.html' %}
{% block title_page %}Notes{% endblock %}
{% block title_main %}Notes{% endblock %}
{% block content%}
    <article>
        <div>
            <b>Etudiant : </b>
            <span>{{student[1]}} {{student[2]}}</span>
        </div>
        <div>
            <b>Classe : </b>
            <span>{{student[4]}}</span>
        </div>
        <form class="row g-3 needs-validation" action="/students/add" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student[5]}}</td>
                        <td><input value="{{student[7]}}" type="text"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">Valider</button>
        </form>
    </article>
    <hr>
{% endblock %}